@import "../../assets/sass/variables";

.typeahead {
  position: relative;

  .input {
    margin: 0;
  }

  &__suggestions {
    background-color: $lightGrayColor;
    border-radius: 0 0 $radius $radius;
    box-shadow: $boxShadow;
    left: 0;
    max-height: 40vh;
    overflow: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;

    li {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;

      &.active, &:hover {
        cursor: pointer;
        background-color: #ddd;
        font-weight: bold;
      }

      &.no_results {
        font-weight: normal;
      }
    }
  }

  &__selections {
    display: flex;
    background-color: lighten($darkGrayColor, 50%);
    border-radius: 0 0 $radius $radius;
    flex-wrap: wrap;
    font-size: 0.8rem;
    grid-gap: 0.5rem;
    padding: 0.5rem;
    position: relative;
    z-index: 1;

    div {
      border: 1px solid $darkGrayColor;
      border-radius: $radius;
      cursor: pointer;
      overflow: hidden;
      padding: 0.3rem;
      padding-right: 20px;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;

      svg {
        opacity: 0.6;
        position: absolute;
        right: 0.2rem;
      }
    }
  }
}