@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: grid;
  place-items: center;
  min-height: 200px;
  width: 100%;

  svg {
    height: 40px;
    width: 40px;
    animation: spin 1s linear infinite;
  }

  &--full {
    position: fixed;
    inset: 0;
    background-color: rgba(45, 12, 65, 0.8);
    z-index: 5;

    svg {
      fill: #fff;
    }
  }
}