.input {
  margin: 0 0 1rem;
  position: relative;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.2rem;
    text-align: left;
  }

  &.error{
      input,
      input:focus {
          background: rgb(225, 185, 185)!important;
      }

      .error__msg{
          font-size: 0.8rem;
          color: rgb(211, 89, 89);;
      }
  }
}