@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";


.btn {
    background: var(--secondaryColor);
    background: var(--secondaryColor);
    border: none;
    border-radius: $radius;
    color: var(--colorFont);
    cursor: pointer;
    display: inline-block;
    font: normal $remSize $primaryFont;
    line-height: 40px;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    transition: ease-in-out 0.2s;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: var(--primaryColor);
      color: #fff;
    }

    &.small {
        line-height: 35px;
        height: 35px;
    }

    &.large {
      line-height: 55px;
      height: 55px;
    }

    &.block {
      display: block;
      width: 100%;
    }

    &.secondary {
        background: var(--primaryColor);
        color: #fff;
    }

    &.tertiary {
        color: $tertiaryColor;
        border: 1px solid $tertiaryColor;
        background: transparent;
        box-shadow: 0 6px 7px rgb(0 0 0 / 15%);
    }

    &[disabled],
    &[disabled="true"]{
        opacity: 0.3;
        cursor: default;
    }
}