@import "../../assets/sass/variables";

.card {
  background-color: #fff;
  border-radius: $radius;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  figure {
    aspect-ratio: 6/4;
    background-color: $lightGrayColor;
    display: grid;
    place-items: center;
    margin: -1rem -1rem 1rem;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
    }
  }

  h4 {
    border-bottom: 1px solid $lightGrayColor;
  }

  div {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    margin-bottom: 0.2rem;

    em {
      font-weight: bold;
    }
  }

  .btn {
    margin-top: 1rem;
  }

  &--matched {
    background-color: $lightGrayColor;
  }
}