@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.modal {
  display: grid;
  place-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 12, 65, 0.8);
  backdrop-filter: blur(1px);
  z-index: 4;
  padding: 1rem;
  overflow: auto;

  &__overlay{
      position: absolute;
      inset: 0;
      cursor: pointer;
  }

  &__content{
      width: 100%;
      height: auto;
      padding: 1rem;
      position: relative;
      background: #fff;
      max-width: 500px;
      border-radius: $radius;
      box-shadow: $boxShadow;

      h1, p {
          text-align: center;
          margin-bottom: 20px;
      }
  }

  &__close{
      position: absolute;
      width: 45px;
      height: 45px;
      line-height: 55px;
      background: $darkGrayColor;
      border:none;
      top: -20px;
      right: -10px;
      cursor: pointer;
      padding: 0;
      border-radius: $radius;

      svg {
        fill: #fff;
        width: 40px;
        height: 20px;
      }
  }

  .card {
    figure {
      aspect-ratio: 16/9;
    }
  }

  @include responsive-large {
    padding: 2rem;
  }
}