@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";


.header {
    background: var(--primaryColor);
    box-shadow: $boxShadow;
    margin-bottom: 2rem;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 4;

    &__right {
      display: flex;
      grid-gap: .4rem;

      .btn {
        font-size: 0.8rem;
        padding: 0 0.4rem;
      }
    }

    .inner {
        align-items: center;
        flex-wrap: nowrap;

        @media (max-width: 360px) {
          width: 100%;
          padding: 0 0.3rem;
        }
    }

    .logo {
      @include flex($align:center, $wraptype: nowrap);
      color: #fff;
      font: bold 1.1rem $secondaryFont;
      text-decoration: none;

      img {
        filter: invert(1);
        width: 40px;
      }
    }

    &__fav {
      display: flex;
      position: fixed;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      z-index: 3;
      inset: 0;
      background-color: rgba(45, 12, 65, 0.4);
      backdrop-filter: blur(1px);
      pointer-events: none;
      opacity: 0;

      &-content {
        background-color: #fff;
        width: 90%;
        max-width: 340px;
        right: -900px;
        top: 0;
        position: relative;
        padding: 80px 1rem 1rem;
        box-shadow: $boxShadow;
        z-index: 1;
        overflow: auto;
        transition: ease-in-out 0.4s;

        p {
          text-align: center;
        }

        .header__fav--active &{
          right: 0;
        }
      }

      &-overlay {
        position: absolute;
        inset: 0;
      }

      &--active {
        pointer-events: all;
        opacity: 1;
      }

      &-dog {
        display: grid;
        grid-template-columns: 130px 1fr;
        overflow: hidden;
        border-radius: $radius;
        background-color: $lightGrayColor;
        margin-bottom: 1rem;

        figure {
          width: 100%;
          padding: 0.5rem;
          max-height: 100px;
          margin: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $radius;
          }
        }

        div {
          display: flex;
          flex-direction: column;
          padding: 0.5rem;

          &.actions {
            display: flex;
            grid-column: 1/-1;
            grid-gap: 0.4rem;
            flex-direction: row;

            .btn {
              width: 100%;
            }
          }
        }
      }
    }

    @include responsive-large {

      .logo {
        font-size: 2rem;
      }

      &__right {
  
        .btn {
          font-size: 1rem;
          padding: 0 0.8rem;
        }
      }
    }
}