@import "../../assets/sass/variables";

.login {
    display: grid;
    place-items: center;
    min-height: 100vh;

    &__content {
        background-color: $lightGrayColor;
        border-radius: $radius;
        box-shadow: $boxShadow;
        margin: 1rem;
        max-width: 420px;
        padding: 2rem;
        text-align: center;
        width: calc(100% - 2rem);
    }

    &__divider {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #f5f5f5;
        margin-bottom: 1rem;
    }

    &__error {
        margin-top: 1rem;
        padding: 0.7rem;
        background-color: lighten($secondaryColor,20%);
        border-radius: $radius;
        color: red;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
    }

    p {
        padding: 0 3rem;
    }

    img {
        width: 60px;
        display: block;
        margin:  0 auto;
    }
}