@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.dogs-search {

  &__list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
    grid-gap: 2rem;
  }

  &__finder {
    background: $lightGrayColor;
    display: flex;
    border-radius: $radius;
    box-shadow: $boxShadow;
    margin-bottom: 2rem;
    padding-top: 80px;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    inset: 0;
    top:100px;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    opacity: 0;

    & > div {
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem 2rem;
      width: 100%;
    }

    &-actions {
      display: flex;
      flex-direction: column;
      grid-gap: 1rem;
      margin-top: auto;
    }

    &-age {
      display: flex;
      grid-gap: 1rem;

      .input {
        width: 100%;
      }
    }

    .typeahead {
      margin: 0 0 1rem;
      width: 100%;
    }

    &--active {
      pointer-events: all;
      opacity: 1;
      top: 0;
      transition: ease-in-out .4s;
    }
  }

  &__noresults {
    grid-column: 1/-1;
    text-align: center;
    padding: 1rem;
    background-color: $quaternaryColor;
    border-radius: $radius;
    max-height: 140px;
  }

  &__floating {
    background-color: $quaternaryColor;
    border: none;
    border-radius: 10rem;
    box-shadow: $boxShadow;
    position: fixed;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
  }

  &__pagination {
    align-items: center;
    display: flex;
    grid-column: 1/-1;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 500px;
    position: relative;

    &-info {
      font-size: 0.8rem;
      text-align: center;
      margin: 1rem 0.5rem 0;

      div {
        align-items: center;
        display: flex;
        grid-gap: 0.3rem;
        margin-bottom: 0.2rem;
        min-height: 35px;
        justify-content: center;
        background-color: $lightGrayColor;
        border-radius: $radius;
      }

      span {
        color: $lightGrayColor;
      }
    }

    li:not(.dots) {
      margin: 0.2rem;
      
      span,
      button,
      &.next,
      &.prev {
        border-radius: $radius;
        background-color: $lightGrayColor;
        display: grid;
        place-items: center;
        text-align: center;
        transition: ease-in-out 0.2s;
        width: 35px;
        height: 35px;

        &:not(span):hover {
          cursor: pointer;
          background-color: $secondaryColor;
        }
      }

      &.active {
        span,
        button{
          background-color: $primaryColor;
          color: $lightGrayColor;
        }
      }

      &[data-disabled="true"] {
        opacity: 0.4;
        pointer-events: none;
      }      
    }
  }

  .content {
    background-color: transparent;
    padding: 0rem;
  }

  @include responsive-medium {
    
    .content {
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
    }

    &__floating {
      display: none;
    }

    &__finder {
      display: block;
      background-color: $lightGrayColor;
      box-shadow: none;
      overflow: initial;
      opacity: 1;
      padding: 1rem;
      position: initial;
      pointer-events: all;
      margin: 0;
      width: 240px;

      & > div {
        padding: 0;
        position: sticky;
        top: 100px;
      }
    }

    &__pagination {

      &-info {
        span {
          color: $colorFont;
        }
      }
    }

    .typeahead {
      border-radius: $radius;
      margin-bottom: 1rem;
    }

    &__list {
      padding: 1rem;
      width: calc(100% - 240px - 1rem);
    }
  }
}