:root {
    --colorFont:        #{$colorFont};
    --primaryColor:     #{$primaryColor};
    --secondaryColor:   #{$secondaryColor};
    --lightGrayColor:        #{$lightGrayColor};
    --darkGrayColor:         #{$darkGrayColor};
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/* reset */
html {
    @include no-margin-padding;
    -webkit-text-size-adjust:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    @include font;
}
*{
    box-sizing: border-box;
}
body{
    @include no-margin-padding;
    @include font;
    background: var(--darkGrayColor);
    color: var(--colorFont);
}
ul,li{
    list-style: none;
    @include no-margin-padding;
}
img{
    display: block;
    @include no-margin-padding;

}
h1,h2,h3,h4,h5{
    font-weight: 900;
    font-family: $secondaryFont;
    margin: 0 0 1rem;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.1rem;
}
/* conatiners */
main {
    min-height: 100vh
}

.inner{
    @include flex();
    margin: 0 auto;
    width: calc(100% - 2rem);
    z-index: 1;
    max-width: $maxContentWidth;
}

.content {
    background-color: #ffffff;
    border-radius: $radius;
    margin-bottom: 3rem;
    padding: 1rem;
    width: 100%;
}

.grid_general {
    @include grid($columns: repeat(3, 1fr));
    width: 100%;
    margin: 0 0 2rem;
}

input[type="password"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="time"],
input[type="number"],
select,
textarea {
    @include font;
    background: #fff;
    border:none;
    border-radius: $radius;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 0.5rem;
    width: 100%;
}

textarea {
    height: auto;
    min-height: 4rem;
    padding: 0.5rem;
}
  

// .dark {
//     --lightGrayColor: #4d4d4d;
//     --colorFont: #eee;
//     --primaryColor: #5c7cda;
//     --secondaryColor: #ca454a;
// }