@mixin no-margin-padding{
    margin:0;
    padding:0;
}
@mixin font{
    font: 300 $remSize $primaryFont;
}
@mixin absolutedFull{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin flex($wraptype:wrap, $justify:space-between, $align:null, $direction:null ){
    display:flex;
    flex-wrap: $wraptype;
    justify-content: $justify;
    @if($align != null){
        align-items: $align;
    }
    @if($direction != null){
        flex-direction: $direction;
    }
}
@mixin grid($columns:1fr, $rows:null , $gap:$remSize, $width:100%){
    display:grid;
    grid-template-columns: $columns;
    grid-gap: $gap;
    @if($width != 100%){
        width: $width;
    }
    @if($rows != null){
        grid-template-rows: $rows;
    }
}

@mixin responsive-medium {
    @media screen and (min-width: 700px) {
      @content;
    }
}
@mixin responsive-large {
    @media screen and (min-width: 1000px) {
      @content;
    }
}
@mixin responsive-xlarge {
    @media only screen and ( max-width: 1200px ){
      @content;
    }
}
@mixin responsive-tabletLandscape {
    @media only screen and (min-width: 900px) and (max-width: 1100px) and (orientation:landscape){
      @content;
    }
}
@mixin responsive-tabletPortrait {
    @media only screen and (min-width:700px) and (max-width:800px) and (orientation:portrait){
      @content;
    }
}