// Responsive Sizes
$maxContentWidth: 1140px;
$remSize: 1rem;
$responsiveLarge: 900px;

// Colors
$colorFont: #222;
$primaryColor: #300d38;
$secondaryColor: #ffa900;
$tertiaryColor: #ffa900;
$quaternaryColor: #ffdf02;
$lightGrayColor: #f1ece9;
$darkGrayColor: #343a40;

// Fonts
$primaryFont: 'Lexend',sans-serif;
$secondaryFont: 'Syne',serif;


// Various
$radius: 6px;
$boxShadow: 0 8px 11px rgba(0,0,0,0.25);
$textShadow: 0 6px 15px rgb(0 0 0 / 15%), 0 3px 11px rgb(0 0 0 / 50%);
$bgTextCards: linear-gradient( 0deg, rgba(20,20,20,0.8) 0%, transparent 100% );
